<html>
<head th:replace="~{base :: head}"></head>
<body>

	<div th:replace="~{base :: topo}">
	</div>

	<div class="container">

		<div th:replace="base :: titulo(nomeTitulo='Últimos Pedidos')"></div>

		<div th:each="produto : ${listaProdutos}">
			<div class="card mb-3 mt-3">
					
				<div class="card-header alert-dark">
					<label th:text="${produto.nome}"></label>
				</div>
		
				<div class="row card-body">
					<div class="col-12 col-sm-8">
						<div class="row">
							<div class="card-text col-12 col-sm-5">
								Valor: <label th:if="${produto.valor} != null" th:text="'R$ ' + ${#numbers.formatDecimal(produto.valor, 3, 'POINT', 2, 'COMMA')}"></label>
							</div>
							<div class="card-text col-sm-7">
								Data: <label th:text="${#temporals.format(produto.data, 'dd/MM/yyyy')}"></label>
							</div>
						</div>
						<div class="card-text mb-1">
							Link: <input class="form-control"
								th:value="${produto.linkProduto}" />
						</div>
						<div class="card-text">
							Descrição:
							<textarea class="form-control" th:text="${produto.descricao}"></textarea>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							<img class="img-thumbnail" th:src="${produto.linkImagem}" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>